header {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    top: 0;
    position: sticky;

    background-color: rgb(255, 255, 255);
}

header > h1 {
    font-style: normal;
    font-weight: bold;
}

header nav {
    height: 80px;
}

header nav ul {
    width: 100%;
    height: 100%;

    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

header ul li {
    margin: 0 20px;
}

header nav ul a {
    padding: 8px 22px;

    border-radius: 5px;

    color: white;
    background-color: #363636;
}

header nav ul a:hover {
    background-color: #686868;
}
