footer {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 5vh 0;

    color: white;
    background-color: #282c2f;
}

#contact,
#socials {
    height: 10em;
}

#about {
    color: #6a7173;
}

footer ul {
    margin-left: 2em;
    padding-right: 2em;

    list-style-type: none;
}

.footer-link {
    margin: 0.25em 0;
    padding: 0.1em;

    display: flex;
    align-items: center;

    border-radius: 5px;
}

#contact .footer-link {
    width: 25em;

    color: white;
}

#contact .footer-link:hover {
    background-color: #32383b;
}

#contact #email {
    color: #6884bc;
}

#location {
    cursor: pointer;
}

.footer-title {
    margin-bottom: 0.5em;
    margin-left: 1.7em;

    font-size: 1.2em;
}

.socials-list a,
.contact-list {
    display: flex;
    align-items: center;
}

.socials-picture {
    width: 1.5em;
    height: 1.5em;

    margin-right: 0.5em;
    padding: 0.5em;

    border-radius: 5px;

    background-color: #32383b;
}

.socials-picture:hover {
    background-color: #686868;
}

#socials p {
    width: 25em;

    margin-bottom: 0.5em;
    margin-left: 2em;
}

#socials ul {
    display: flex;
    flex-direction: row;
    height: auto;
}

#about{
    line-height: 1.5rem; 
}

.footer-icon {
    width: 1.5em;
    height: 1.5em;

    margin-right: 1em;
    padding: 0.5em;

    border-radius: 5px;

    background-color: #32383b;
}

#mail-icon {
    width: 1.9em;
    height: 1.9em;

    margin-right: 1em;
    padding: 0.3em;
}

#city {
    font-weight: bold;
}

.contact-links > a > div {
    display: block;
}
