footer {
    height:auto;
    background-color: #282c2f;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact, #socials {
    width: auto;
    height: 10em;
}

#about {
    color: #6a7173;
}

footer ul {
    list-style-type: none;
    color: white;
    margin-left: 2em;
    padding-right: 2em;
}

.footer-link {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    border-radius: 5px;
    padding: 0.1em;
    display: flex;
    align-items: center;
    color: #6884bc;
}

#contact .footer-link {
    width: 25em;
}

#contact .footer-link:hover {
    background: #32383b;
}

#location{
    cursor: pointer;
}

.footer-title {
    color: white;
    margin-left: 1.7em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.socials-list a, .contact-list {
    display: flex;
    align-items: center;
}

.socials-picture {
    width: 1.5em;
    height: 1.5em;
    background: #32383b;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;
}

.socials-picture:hover {
    background-color: #686868;
}

#socials a {
    width: auto;
}

#socials p {
    text-align: left;
    width: 25em;
    margin-left: 2em;
    margin-bottom: 0.5em;
}

#socials ul {
    display: flex;
    flex-direction: row;
    height: auto;
}

.footer-icon {
    background: #32383b;
    border-radius: 5px;
    height: 1.5em;
    width: 1.5em;
    padding: 0.5em;
    border-radius: 5px;
    margin-right: 1em;
}

#mail-icon {
    height: 1.9em;
    width: 1.9em;
    padding: 0.3em;
    margin-right: 1em;
}

#ping {
    display: block;
    height: 1.3em;
    width: 1.3em;
    margin: auto;
}

#city {
    font-weight: bold;
}

#address, #city {
    color: white;
}

.contact-links > a > div {
    display: block;
}

#phone-number {
    color: white;
}
